__pycache__/
.ipynb_checkpoints
.Python
*.so
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

tmp/
vis/
vis*/
log/
log*/
.log*
*.npy
*.json
*.tar
*.out
*.pkl
*.pth
*.params
/root/docker_data/MSthesis/0000004916_0000005264_dynamic.ply
/root/docker_data/MSthesis/0000004916_0000005264.ply
data/kitti360/
outputs/
/root/docker_data/MSthesis/log/kitti360_lidar4d_f4950_release
/root/docker_data/MSthesis/log_only_grid
/root/docker_data/MSthesis/log_with_only_kplanes
MSthesis/outputs
/root/docker_data/MSthesis/workspace
/root/docker_data/MSthesis/main.ipynb
tiny-cuda-nn/
    